/*Name and Photo*/
body{
    background-color:darkcyan;
}

#selfie img{
    float:left;
    margin-top: 2.5%;
    margin-left:33%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#name {
    position:relative;
    top: 60px;
    font-size: 50px;
}

/*Contact Navigation*/
#navigation a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#contact a {
	margin: 0px 16px;
}

#email{
    margin-top:80px;
    height:50px;
    width:50px;
}

#github{
    margin-top:80px;
    height:50px;
    width: 80px;
}

#linkedin{
    margin-top:80px;
    width:50px;
    height: 50px;
}

/*table css*/
table, th, td {
    border:1px solid black;
}

th{
    width:600px;
}

#projects{
    margin-top:50px;
    margin-left:150px;
}

#projects img{
    width: 600px;
    height: 300px;
}